altgraph
cachetools
certifi
charset-normalizer
evdev
dotenv
idna
numpy
oauthlib
pandas
Pillow
pyasn1
pyasn1-modules
pyinstaller
pyinstaller-hooks-contrib
pynput
keyboard
pyrealsense2
python-xlib
requests
requests-oauthlib
rsa
six
tk
urllib3
